In [1]:
import pandas as pd

In [2]:
data = pd.read_excel("~/Desktop/data.xls",header = 3)

In [3]:
data.head(5)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,–ì–ª—é–∫–æ–∑–∞,–ú–æ—á–µ–≤–∏–Ω–∞,–ö—Ä–µ–∞—Ç–∏–Ω–∏–Ω,–ú–æ—á–µ–≤–∞—è –∫-—Ç–∞,–•–æ–ª–µ—Å—Ç–µ—Ä–∏–Ω,–•-–õ–ü–í–ü,...,"–ê–Ω–≥ II, –ø–≥/–º–ª (N 10-60 –ø–≥/–º–ª)","–≠–¢, –ø–º–æ–ª—å/–ª (N =0,09)","VEGF, –ø–≥/–º–ª (N40-600)",HLDF (–Ω–≥/–º–ª,–ê–¢ –∫ S100b,–ê–¢ –∫ –ê–Ω–≥ II,–ê–¢ –∫ –≠–¢,–ê–¢ –∫ HLDF- 24,Unnamed: 35,Unnamed: 36
0,NaN,NaN,NaN,NaN,–º–ú/–õ,–º–ú/–õ,–º–∫–ú/–õ,–º–∫–ú/–õ,–º–ú/–õ,–º–ú/–õ,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,–°–ª-—Å–∞–Ω—Ç–µ—Ö–Ω–∏–∫,2.0,1956.0,6.2,5.9,110,443,6.2,1.07,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,2.0
2,3.0,–∏–Ω–∂–µ–Ω–µ—Ä,1.0,1962.0,5.2,5,72,164,5.5,2.27,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,3.0
3,4.0,–ò–Ω–∂–µ–Ω–µ—Ä-—Ç–µ—Ö–Ω–æ–ª–æ–≥,-1000.0,1962.0,5.1,5.8,85,345,6.6,2.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,4.0
4,5.0,–≤–æ–¥–∏—Ç–µ–ª—å,2.0,1964.0,5.6,5.7,74,438,6.3,1.04,...,0.38,0.07,458.4,NaN,1600.0,1600.0,400.0,50.0,0,5.0

In [4]:
data = data.drop(0)

In [5]:
data = data.rename(columns={"Unnamed: 0" : "Number", "Unnamed: 1" : "Profession"})
data = data.rename(columns={"Unnamed: 2" : "Gender", "Unnamed: 3" : "Birth_year"})

In [6]:
data.head(5)

,Number,Profession,Gender,Birth_year,–ì–ª—é–∫–æ–∑–∞,–ú–æ—á–µ–≤–∏–Ω–∞,–ö—Ä–µ–∞—Ç–∏–Ω–∏–Ω,–ú–æ—á–µ–≤–∞—è –∫-—Ç–∞,–•–æ–ª–µ—Å—Ç–µ—Ä–∏–Ω,–•-–õ–ü–í–ü,...,"–ê–Ω–≥ II, –ø–≥/–º–ª (N 10-60 –ø–≥/–º–ª)","–≠–¢, –ø–º–æ–ª—å/–ª (N =0,09)","VEGF, –ø–≥/–º–ª (N40-600)",HLDF (–Ω–≥/–º–ª,–ê–¢ –∫ S100b,–ê–¢ –∫ –ê–Ω–≥ II,–ê–¢ –∫ –≠–¢,–ê–¢ –∫ HLDF- 24,Unnamed: 35,Unnamed: 36
1,2.0,–°–ª-—Å–∞–Ω—Ç–µ—Ö–Ω–∏–∫,2.0,1956.0,6.2,5.9,110,443,6.2,1.07,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,2.0
2,3.0,–∏–Ω–∂–µ–Ω–µ—Ä,1.0,1962.0,5.2,5,72,164,5.5,2.27,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,3.0
3,4.0,–ò–Ω–∂–µ–Ω–µ—Ä-—Ç–µ—Ö–Ω–æ–ª–æ–≥,-1000.0,1962.0,5.1,5.8,85,345,6.6,2.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,4.0
4,5.0,–≤–æ–¥–∏—Ç–µ–ª—å,2.0,1964.0,5.6,5.7,74,438,6.3,1.04,...,0.38,0.07,458.40,NaN,1600.0,1600.0,400.0,50.0,0,5.0
5,12.0,—Å–ª–µ—Å–∞—Ä—å,2.0,1959.0,5.7,5.5,88,286,7.1,0.91,...,0.00,0.32,70.91,120.0,400.0,400.0,600.0,100.0,0,12.0

In [7]:
data.columns

Index(['Number', 'Profession', 'Gender', 'Birth_year', '–ì–ª—é–∫–æ–∑–∞', '–ú–æ—á–µ–≤–∏–Ω–∞',
       '–ö—Ä–µ–∞—Ç–∏–Ω–∏–Ω', '–ú–æ—á–µ–≤–∞—è –∫-—Ç–∞', '–•–æ–ª–µ—Å—Ç–µ—Ä–∏–Ω', '–•-–õ–ü–í–ü', '–•-–õ–ü–ù–ü',
       '–¢—Ä–∏–≥–ª–∏—Ü–µ—Ä–∏–¥—ã', '–∏–Ω–¥–µ–∫—Å –º–∞—Å—Å—ã —Ç–µ–ª–∞', '–∫—É—Ä–∫\–µ–Ω–∏–µ',
       '–∏–∑–±—ã—Ç, –ü–æ—Ç—Ä, –ê–ª–∫–æ–≥–æ–ª—è', '–∏,–ø –ø–æ–≤–∞—Ä, –°–æ–ª–∏', '–≥–∏–ø–æ–¥–∏–Ω–∞–º–∏—è', '—Å—Ç—Ä–µ—Å—Å',
       '–ø—Ä–∏–µ–º –ø\—â –∫–æ–Ω—Ç—Ä–∞—Ü', '–Ω–∞—Å–ª –æ—Ç—è–≥, –ü–æ –ì–ë, ', '–Ω–∞—Å–ª –æ—Ç—è–≥, –ü–æ –°–°–ó',
       '–Ω–∞—Å–ª –æ—Ç—è–≥, –ü–æ –°–î', '–Ω–∞—Å–ª, –û—Ç—è–≥ –ø–æ –ø–æ—á–µ—á–Ω, –ó–∞–±', '–°–ê–î', '–î–ê–î',
       '–ì–õ–ñ –∏–Ω –°–æ–∫–æ–ª–æ–≤–∞-–õ–∞–π–æ–Ω–∞', 'S100b, –Ω–≥/–ª (N –¥–æ 90)',
       '–ê–Ω–≥ II, –ø–≥/–º–ª (N 10-60 –ø–≥/–º–ª)', '–≠–¢, –ø–º–æ–ª—å/–ª    (N =0,09)',
       'VEGF,  –ø–≥/–º–ª (N40-600)', 'HLDF (–Ω–≥/–º–ª', '–ê–¢ –∫ S100b', '–ê–¢ –∫ –ê–Ω–≥  II ',
       '–ê–¢ –∫ –≠–¢ ', '–ê–¢ –∫ HLDF- 24', 'Unnamed: 35', 'Unnamed: 36'],
      dtype='object')

In [8]:
data['Unnamed: 35'].unique()

array([0, '–æ', '–ø'], dtype=object)

In [9]:
(data["Unnamed: 36"] - data["Number"]).unique()
# the last column copies "Number" one, so i'd remove it as redundant

array([0.])

In [10]:
data = data.drop(columns={"Unnamed: 36"})

In [11]:
data["Gender"].unique()
# okay, gender is 1 = female, 2 = male, -1000 - unknown

array([    2.,     1., -1000.])

In [12]:
data["male"] = (data["Gender"] == 2).astype(int)
data["female"] = (data["Gender"] == 1).astype(int)
data["no_spec_gender"] = (data["Gender"] == -1000).astype(int)
data = data.drop(columns={"Gender"})

In [13]:
data["Profession"].unique()
# I'd have to fix some issues with data

array(['–°–ª-—Å–∞–Ω—Ç–µ—Ö–Ω–∏–∫', '–∏–Ω–∂–µ–Ω–µ—Ä ', '–ò–Ω–∂–µ–Ω–µ—Ä-—Ç–µ—Ö–Ω–æ–ª–æ–≥', '–≤–æ–¥–∏—Ç–µ–ª—å',
       '—Å–ª–µ—Å–∞—Ä—å ', '–∏–∑–æ–ª–∏—Ä–æ–≤—â–∏—Ü–∞', '–∞–ø–ø–∞—Ä–∞—Ç—á–∏–∫', '—Ç—Ä–∞–∫—Ç–æ—Ä–∏—Å—Ç',
       '–≥–æ—Ä–Ω–∏—á–Ω–∞—è', '–ø–ª–∞–≤–∏–ª—å—â–∏–∫', '–∏–Ω–∂–µ–Ω–µ—Ä', '—Ç–æ–∫–∞—Ä—å ', '–≤–Ω—Å',
       '—ç–∫–æ–Ω–æ–º–∏—Å—Ç ', '–Ω–∞—á –≥—Ä—É–ø–ø—ã ', '–Ω–∞—á —Å–µ–∫—Ç–æ—Ä–∞', '–≥–ª –∏–Ω–∂–µ–Ω–µ—Ä ',
       '–∫–æ–Ω—Ç—Ä–æ–ª–µ—Ä –ö–ü–ü', '–Ω–∞—á-–∫ –ü–†–ë', '–£–í–û–õ–ï–ù–ê', '–¥–∏—Å–ø–µ—Ç—á–µ—Ä',
       '–æ–ø–µ—Ä–∞—Ç–æ—Ä                    1962', '–≤–µ–¥,—Å–ø–µ—Ü–∏–∞–ª–∏—Å—Ç',
       '–ø—Ä–∏–≥–æ—Ç-–ª—å —Ä-—Ä–æ–≤', '–ü–ï–ù–°–ò–û–ù–ï–†', '–º–æ–Ω—Ç–∞–∂–Ω–∏–∫ –†–≠–ê', '—Ç–µ—Ö–Ω–∏–∫',
       '—Å–±–æ—Ä—â–∏–∫ –º-—Å—Ö–µ–º', '–Ω–∞–ª–∞–¥—á–∏–∫', '–∏–∑–º–µ—Ä–∏—Ç–µ–ª—å', '–º–∞—à–∏–Ω–∏—Å—Ç',
       '–∏–Ω–∂–µ–Ω–µ—Ä-–ø—Ä–æ–≥—Ä,', '–Ω–∞—á-–∫ —Ç–µ—Ö,–±—é—Ä–æ', '–Ω–∞—á-–∫ –≥—Ä—É–ø–ø—ã',
       '—Å—Ç–∞—Ä—à–∏–π –º–∞—Å—Ç–µ—Ä', '–≥–∞–ª—å–≤–∞–Ω–∏–∫', nan, '–º–∞—Å—Ç–µ—Ä –æ—Ç–¥ —Ä–∞–±–æ—Ç1969',
       '–Ω–∞—É—á. —Å–æ—Ç—Ä', '—ç–ª. —Å–≤–∞—Ä—â–∏–∫', '—Ñ—Ä–µ–∑–µ—Ä–æ–≤—â–∏–∫', '–∏–∑–æ–ª–∏—Ä–æ–≤—â–∏–∫ ',
       '—ç–ª,—Å–≤–∞—Ä—â–∏–∫', '—ç–ª–µ–∫—Ç—Ä–æ–º–æ–Ω—Ç–∞–∂–Ω–∏–∫', '–¥–µ–∂—É—Ä–Ω–∞—è', '–Ω–∞—á-–∫ –±—é—Ä–æ ',
       '–Ω–∞—á-–∫ —Å–µ–∫—Ç–æ—Ä–∞', '–º–∞–ª—è—Ä', '–º–∞–ª—è—Ä-—à—Ç—É–∫–∞—Ç—É—Ä', '–£–í–û–õ–ï–ù', '–º–∞—Å—Ç–µ—Ä ',
       '–ø—Ä–µ—Å—Å–æ–≤—â–∏–∫', '–∑–∞–º, –Ω–∞—á-–∫–∞ –æ—Ç–¥,', '–∏–Ω–∂–µ–Ω—Ä', '—Å–µ–∫—Ä–µ—Ç–∞—Ä—å ',
       '—ç–ª–µ–∫—Ç—Ä–∏–∫'], dtype=object)

In [14]:
data["Profession"].replace({"–∏–Ω–∂–µ–Ω–µ—Ä " : "–∏–Ω–∂–µ–Ω–µ—Ä", "–∏–Ω–∂–µ–Ω—Ä" : "–∏–Ω–∂–µ–Ω–µ—Ä", "–º–∞—Å—Ç–µ—Ä " : "–º–∞—Å—Ç–µ—Ä"}, inplace=True)
data["Profession"].fillna("no_info", inplace=True)

#i'll try to group jobs in certain specified types
–ü—É—Å—Ç—å –≤–Ω—Å - –≤–µ–¥—É—â–∏–π –Ω–∞—É—á–Ω—ã–π —Å–æ—Ç—Ä—É–¥–Ω–∏–∫
1) –†–∞–±–æ—Ç–∞ —Ä—É–∫–∞–º–∏: –°–ª-—Å–∞–Ω—Ç–µ—Ö–Ω–∏–∫, —Å–ª–µ—Å–∞—Ä—å, –∞–ø–ø–∞—Ä–∞—Ç—á–∏–∫, —Ç–æ–∫–∞—Ä—å,üë∑,  –ø—Ä–∏–≥–æ—Ç–æ–≤–∏—Ç–µ–ª—å —Ä–∞—Å—Ç–≤–æ—Ä–æ–≤, –º–æ–Ω—Ç–∞–∂–Ω–∏–∫ –†–≠–ê, —ç–ª. —Å–≤–∞—Ä—â–∏–∫, —Ñ—Ä–µ–∑–µ—Ä–æ–≤—â–∏–∫, –∏–∑–æ–ª–∏—Ä–æ–≤—â–∏–∫, —ç–ª,—Å–≤–∞—Ä—â–∏–∫, —ç–ª–µ–∫—Ç—Ä–æ–º–æ–Ω—Ç–∞–∂–Ω–∏–∫, –º–∞–ª—è—Ä, –º–∞–ª—è—Ä-—à—Ç—É–∫–∞—Ç—É—Ä, –ø—Ä–µ—Å—Å–æ–≤—â–∏–∫, —ç–ª–µ–∫—Ç—Ä–∏–∫, –≤–æ–¥–∏—Ç–µ–ª—å, –∏–∑–æ–ª–∏—Ä–æ–≤—â–∏—Ü–∞, –∞–ø–ø–∞—Ä–∞—Ç—á–∏–∫, —Ç—Ä–∞–∫—Ç–æ—Ä–∏—Å—Ç, –ø–ª–∞–≤–∏–ª—å—â–∏–∫, —Ç–µ—Ö–Ω–∏–∫, —Å–±–æ—Ä—â–∏–∫ –º-—Å—Ö–µ–º, –º–∞—à–∏–Ω–∏—Å—Ç, –≥–∞–ª—å–≤–∞–Ω–∏–∫, –º–∞—Å—Ç–µ—Ä –æ—Ç–¥ —Ä–∞–±–æ—Ç1969, –∏–∑–æ–ª–∏—Ä–æ–≤—â–∏–∫, –ø—Ä–µ—Å—Å–æ–≤—â–∏–∫
2) –ü—Ä–∏—Å–ª—É–≥–∞: –≥–æ—Ä–Ω–∏—á–Ω–∞—è, –∫–æ–Ω—Ç—Ä–æ–ª–µ—Ä –ö–ü–ü, –¥–µ–∂—É—Ä–Ω–∞—è, —Å–µ–∫—Ä–µ—Ç–∞—Ä—å, –¥–∏—Å–ø–µ—Ç—á–µ
4) –ú–µ–ª–∫–æ–µ —Ä—É–∫–æ–≤–æ–¥—Å—Ç–≤–æ: –Ω–∞—á –≥—Ä—É–ø–ø—ã, –Ω–∞—á —Å–µ–∫—Ç–æ—Ä–∞, –≥–ª. –∏–Ω–∂–µ–Ω–µ—Ä, –Ω–∞—á. –ü–†–ë, –Ω–∞—á-–∫ —Ç–µ—Ö,–±—é—Ä–æ, –Ω–∞—á-–∫ –≥—Ä—É–ø–ø—ã, —Å—Ç–∞—Ä—à–∏–π –º–∞—Å—Ç–µ—Ä, –Ω–∞—á-–∫ –±—é—Ä–æ, –Ω–∞—á-–∫ —Å–µ–∫—Ç–æ—Ä–∞, –º–∞—Å—Ç–µ—Ä, –∑–∞–º, –Ω–∞—á-–∫–∞ –æ—Ç–¥, , 
5) –ù–∞—É—á–Ω—ã–µ —Å–ø–µ—Ü–∏–∞–ª—å–Ω–æ—Å—Ç–∏: –≤–Ω—Å, –≤–µ–¥,—Å–ø–µ—Ü–∏–∞–ª–∏—Å—Ç, –Ω–∞—É—á. —Å–æ—Ç—Ä, –Ω–∞—á-–∫ –±—é—Ä–æ, –Ω–∞—á-–∫ —Ç–µ—Ö,–±—é—Ä–æ, —ç–∫–æ–Ω–æ–º–∏—Å—Ç
6) –ò–Ω–∂–µ–Ω–µ—Ä–Ω—ã–µ —Å–ø–µ—Ü–∏–∞–ª—å–Ω–æ—Å—Ç–∏: –∏–Ω–∂–µ–Ω–µ—Ä, –∏–Ω–∂–µ–Ω–µ—Ä-—Ç–µ—Ö–Ω–æ–ª–æ–≥, –≥–ª. –∏–Ω–∂–µ–Ω–µ—Ä, –Ω–∞–ª–∞–¥—á–∏–∫, –∏–∑–º–µ—Ä–∏—Ç–µ–ª—å, –∏–Ω–∂–µ–Ω–µ—Ä-–ø—Ä–æ–≥—Ä, –Ω–∞—á-–∫ —Ç–µ—Ö,–±—é—Ä–æ
7) –î–∞–Ω–Ω—ã—Ö –Ω–µ—Ç: no_info, –£–í–û–õ–ï–ù, –£–í–û–õ–ï–ù–ê
8) –ü–µ–Ω—Å–∏–æ–Ω–µ—Ä

In [15]:
#laborers - —Ä—É—á–Ω–∞—è —Ä–∞–±–æ—Ç–∞
#servants - –æ–±—Å–ª. —Å–æ—Å—Ç–∞–≤
#leadership - —É–ø—Ä–∞–≤–ª–µ–Ω–∏–µ
#scientific - –Ω–∞—É—á–Ω—ã–µ —Å–ø–µ—Ü–∏–∞–ª—å–Ω–æ—Å—Ç–∏, —Ä–∞–±–æ—Ç–∞ –º–æ–∑–≥–æ–º
#engineering - –∏–Ω–∂. —Å–ø–µ—Ü–∏–∞–ª—å–Ω–æ—Å—Ç–∏
#no_data - –±–µ–∑ –∏–Ω—Ñ—ã
#retiree - –ø–µ–Ω—Å–∏–æ–Ω–µ—Ä
data['laborers'] = data['Profession'] == '–°–ª-—Å–∞–Ω—Ç–µ—Ö–Ω–∏–∫' 
data['laborers'] |=                    data['Profession'] == '–≤–æ–¥–∏—Ç–µ–ª—å' 
data['laborers'] |=                    data['Profession'] == '—Å–ª–µ—Å–∞—Ä—å ' 
data['laborers'] |=                    data['Profession'] == '–∏–∑–æ–ª–∏—Ä–æ–≤—â–∏—Ü–∞' 
data['laborers'] |=                    data['Profession'] == '–∞–ø–ø–∞—Ä–∞—Ç—á–∏–∫' 
data['laborers'] |=                    data['Profession'] == '—Ç—Ä–∞–∫—Ç–æ—Ä–∏—Å—Ç' 
data['laborers'] |=                    data['Profession'] == '–ø–ª–∞–≤–∏–ª—å—â–∏–∫' 
data['laborers'] |=                    data['Profession'] == '—Ç–æ–∫–∞—Ä—å ' 
data['laborers'] |=                    data['Profession'] == '–æ–ø–µ—Ä–∞—Ç–æ—Ä                    1962' 
data['laborers'] |=                    data['Profession'] == '–ø—Ä–∏–≥–æ—Ç-–ª—å —Ä-—Ä–æ–≤' 
data['laborers'] |=                    data['Profession'] == '–º–æ–Ω—Ç–∞–∂–Ω–∏–∫ –†–≠–ê' 
data['laborers'] |=                    data['Profession'] == '—Ç–µ—Ö–Ω–∏–∫' 
data['laborers'] |=                    data['Profession'] == '—Å–±–æ—Ä—â–∏–∫ –º-—Å—Ö–µ–º'  
data['laborers'] |=                    data['Profession'] == '–º–∞—à–∏–Ω–∏—Å—Ç' 
data['laborers'] |=                    data['Profession'] == '—Å—Ç–∞—Ä—à–∏–π –º–∞—Å—Ç–µ—Ä' 
data['laborers'] |=                    data['Profession'] == '–≥–∞–ª—å–≤–∞–Ω–∏–∫' 
data['laborers'] |=                    data['Profession'] == '–º–∞—Å—Ç–µ—Ä –æ—Ç–¥ —Ä–∞–±–æ—Ç1969' 
data['laborers'] |=                    data['Profession'] == '—ç–ª. —Å–≤–∞—Ä—â–∏–∫' 
data['laborers'] |=                    data['Profession'] == '—Ñ—Ä–µ–∑–µ—Ä–æ–≤—â–∏–∫' 
data['laborers'] |=                    data['Profession'] == '–∏–∑–æ–ª–∏—Ä–æ–≤—â–∏–∫ ' 
data['laborers'] |=                    data['Profession'] == '—ç–ª,—Å–≤–∞—Ä—â–∏–∫' 
data['laborers'] |=                    data['Profession'] == '—ç–ª–µ–∫—Ç—Ä–æ–º–æ–Ω—Ç–∞–∂–Ω–∏–∫' 
data['laborers'] |=                    data['Profession'] == '–º–∞–ª—è—Ä' 
data['laborers'] |=                    data['Profession'] == '–º–∞–ª—è—Ä-—à—Ç—É–∫–∞—Ç—É—Ä' 
data['laborers'] |=                    data['Profession'] == '–º–∞—Å—Ç–µ—Ä' 
data['laborers'] |=                    data['Profession'] == '–ø—Ä–µ—Å—Å–æ–≤—â–∏–∫'
data['laborers'] |=                    data['Profession'] == '—ç–ª–µ–∫—Ç—Ä–∏–∫'

data['servants'] = data['Profession'] == '–≥–æ—Ä–Ω–∏—á–Ω–∞—è' 
data['servants'] |=                    data['Profession'] == '–∫–æ–Ω—Ç—Ä–æ–ª–µ—Ä –ö–ü–ü' 
data['servants'] |=                    data['Profession'] == '–¥–∏—Å–ø–µ—Ç—á–µ—Ä' 
data['servants'] |=                    data['Profession'] == '–¥–µ–∂—É—Ä–Ω–∞—è' 
data['servants'] |=                    data['Profession'] == '—Å–µ–∫—Ä–µ—Ç–∞—Ä—å '

data['leadership'] = data['Profession'] == '–Ω–∞—á –≥—Ä—É–ø–ø—ã ' 
data['leadership'] |=                     data['Profession'] == '–Ω–∞—á —Å–µ–∫—Ç–æ—Ä–∞' 
data['leadership'] |=                       data['Profession'] == '–≥–ª –∏–Ω–∂–µ–Ω–µ—Ä ' 
data['leadership'] |=                      data['Profession'] == '–Ω–∞—á-–∫ –ü–†–ë' 
data['leadership'] |=                      data['Profession'] == '–Ω–∞—á-–∫ —Ç–µ—Ö,–±—é—Ä–æ' 
data['leadership'] |=                      data['Profession'] == '–Ω–∞—á-–∫ –≥—Ä—É–ø–ø—ã' 
data['leadership'] |=                      data['Profession'] == '—Å—Ç–∞—Ä—à–∏–π –º–∞—Å—Ç–µ—Ä' 
data['leadership'] |=                      data['Profession'] == '–Ω–∞—á-–∫ –±—é—Ä–æ ' 
data['leadership'] |=                      data['Profession'] == '–Ω–∞—á-–∫ —Å–µ–∫—Ç–æ—Ä–∞' 
data['leadership'] |=                      data['Profession'] == '–º–∞—Å—Ç–µ—Ä'
data['leadership'] |=                     data['Profession'] == '–∑–∞–º, –Ω–∞—á-–∫–∞ –æ—Ç–¥,'

data['scientific'] = data['Profession'] == '–≤–Ω—Å' 
data['scientific'] |=                      data['Profession'] == '–≤–µ–¥,—Å–ø–µ—Ü–∏–∞–ª–∏—Å—Ç'
data['scientific'] |=                      data['Profession'] == '–Ω–∞—É—á. —Å–æ—Ç—Ä'
data['scientific'] |=                      data['Profession'] == '–Ω–∞—á-–∫ —Ç–µ—Ö,–±—é—Ä–æ'
data['scientific'] |=                      data['Profession'] == '–Ω–∞—á-–∫ –±—é—Ä–æ '
data['scientific'] |=                      data['Profession'] == '—ç–∫–æ–Ω–æ–º–∏—Å—Ç '

data['engineering'] = data['Profession'] == '–∏–Ω–∂–µ–Ω–µ—Ä'
data['engineering'] |= data['Profession'] == '–ò–Ω–∂–µ–Ω–µ—Ä-—Ç–µ—Ö–Ω–æ–ª–æ–≥' 
data['engineering'] |= data['Profession'] == '–≥–ª –∏–Ω–∂–µ–Ω–µ—Ä '
data['engineering'] |= data['Profession'] == '–Ω–∞–ª–∞–¥—á–∏–∫' 
data['engineering'] |= data['Profession'] == '–∏–∑–º–µ—Ä–∏—Ç–µ–ª—å' 
data['engineering'] |= data['Profession'] == '–∏–Ω–∂–µ–Ω–µ—Ä-–ø—Ä–æ–≥—Ä,'
data['engineering'] |= data['Profession'] == '–Ω–∞—á-–∫ —Ç–µ—Ö,–±—é—Ä–æ'

data['no_job_data'] = data['Profession'] == 'no_info'
data['no_job_data'] |= data['Profession'] == '–£–í–û–õ–ï–ù–ê'
data['no_job_data'] |= data['Profession'] == '–£–í–û–õ–ï–ù'

data['retiree'] = data['Profession'] == '–ü–ï–ù–°–ò–û–ù–ï–†'

In [16]:
data['laborers'] = data['laborers'].astype(int)
data['servants'] = data['servants'].astype(int)
data['leadership'] = data['leadership'].astype(int)
data['scientific'] = data['scientific'].astype(int)
data['engineering'] = data['engineering'].astype(int)
data['no_job_data'] = data['no_job_data'].astype(int)
data['retiree'] = data['retiree'].astype(int)

In [17]:
data.head(10)

,Number,Profession,Birth_year,–ì–ª—é–∫–æ–∑–∞,–ú–æ—á–µ–≤–∏–Ω–∞,–ö—Ä–µ–∞—Ç–∏–Ω–∏–Ω,–ú–æ—á–µ–≤–∞—è –∫-—Ç–∞,–•–æ–ª–µ—Å—Ç–µ—Ä–∏–Ω,–•-–õ–ü–í–ü,–•-–õ–ü–ù–ü,...,male,female,no_spec_gender,laborers,servants,leadership,scientific,engineering,no_job_data,retiree
1,2.0,–°–ª-—Å–∞–Ω—Ç–µ—Ö–Ω–∏–∫,1956.0,6.2,5.9,110,443,6.2,1.07,4.25,...,1,0,0,1,0,0,0,0,0,0
2,3.0,–∏–Ω–∂–µ–Ω–µ—Ä,1962.0,5.2,5,72,164,5.5,2.27,3.39,...,0,1,0,0,0,0,0,1,0,0
3,4.0,–ò–Ω–∂–µ–Ω–µ—Ä-—Ç–µ—Ö–Ω–æ–ª–æ–≥,1962.0,5.1,5.8,85,345,6.6,2.1,4.14,...,0,0,1,0,0,0,0,1,0,0
4,5.0,–≤–æ–¥–∏—Ç–µ–ª—å,1964.0,5.6,5.7,74,438,6.3,1.04,3.96,...,1,0,0,1,0,0,0,0,0,0
5,12.0,—Å–ª–µ—Å–∞—Ä—å,1959.0,5.7,5.5,88,286,7.1,0.91,5.33,...,1,0,0,1,0,0,0,0,0,0
6,15.0,–∏–∑–æ–ª–∏—Ä–æ–≤—â–∏—Ü–∞,1966.0,11.7,3.2,66,434,6.8,0.92,4.59,...,0,1,0,1,0,0,0,0,0,0
7,16.0,–∞–ø–ø–∞—Ä–∞—Ç—á–∏–∫,1974.0,5.4,3.8,105,437,6,1.64,3.5,...,0,0,1,1,0,0,0,0,0,0
8,20.0,—Å–ª–µ—Å–∞—Ä—å,1962.0,7.1,5.3,93,478,4,0.53,1.73,...,0,0,1,1,0,0,0,0,0,0
9,22.0,—Ç—Ä–∞–∫—Ç–æ—Ä–∏—Å—Ç,1968.0,7.3,5.2,73,409,5.4,1.38,3.8,...,0,0,1,1,0,0,0,0,0,0
10,25.0,–≥–æ—Ä–Ω–∏—á–Ω–∞—è,1976.0,5.3,4,73,276,5.5,2.56,0.7,...,0,1,0,0,1,0,0,0,0,0

In [18]:
# okay, now we can drop Profession column
data = data.drop(columns={'Profession'})

In [19]:
data.head(1)

,Number,Birth_year,–ì–ª—é–∫–æ–∑–∞,–ú–æ—á–µ–≤–∏–Ω–∞,–ö—Ä–µ–∞—Ç–∏–Ω–∏–Ω,–ú–æ—á–µ–≤–∞—è –∫-—Ç–∞,–•–æ–ª–µ—Å—Ç–µ—Ä–∏–Ω,–•-–õ–ü–í–ü,–•-–õ–ü–ù–ü,–¢—Ä–∏–≥–ª–∏—Ü–µ—Ä–∏–¥—ã,...,male,female,no_spec_gender,laborers,servants,leadership,scientific,engineering,no_job_data,retiree
1,2.0,1956.0,6.2,5.9,110,443,6.2,1.07,4.25,2.37,...,1,0,0,1,0,0,0,0,0,0

In [20]:
# i'd better keep age parameter instead of Birth_year one, let's say this'd be up to 2019
data["age"] = 2019 - data["Birth_year"]
data = data.drop(columns = {'Birth_year'})
data.head(1)

,Number,–ì–ª—é–∫–æ–∑–∞,–ú–æ—á–µ–≤–∏–Ω–∞,–ö—Ä–µ–∞—Ç–∏–Ω–∏–Ω,–ú–æ—á–µ–≤–∞—è –∫-—Ç–∞,–•–æ–ª–µ—Å—Ç–µ—Ä–∏–Ω,–•-–õ–ü–í–ü,–•-–õ–ü–ù–ü,–¢—Ä–∏–≥–ª–∏—Ü–µ—Ä–∏–¥—ã,–∏–Ω–¥–µ–∫—Å –º–∞—Å—Å—ã —Ç–µ–ª–∞,...,female,no_spec_gender,laborers,servants,leadership,scientific,engineering,no_job_data,retiree,age
1,2.0,6.2,5.9,110,443,6.2,1.07,4.25,2.37,20,...,0,0,1,0,0,0,0,0,0,63.0

In [21]:
data.head(10)

,Number,–ì–ª—é–∫–æ–∑–∞,–ú–æ—á–µ–≤–∏–Ω–∞,–ö—Ä–µ–∞—Ç–∏–Ω–∏–Ω,–ú–æ—á–µ–≤–∞—è –∫-—Ç–∞,–•–æ–ª–µ—Å—Ç–µ—Ä–∏–Ω,–•-–õ–ü–í–ü,–•-–õ–ü–ù–ü,–¢—Ä–∏–≥–ª–∏—Ü–µ—Ä–∏–¥—ã,–∏–Ω–¥–µ–∫—Å –º–∞—Å—Å—ã —Ç–µ–ª–∞,...,female,no_spec_gender,laborers,servants,leadership,scientific,engineering,no_job_data,retiree,age
1,2.0,6.2,5.9,110,443,6.2,1.07,4.25,2.37,20,...,0,0,1,0,0,0,0,0,0,63.0
2,3.0,5.2,5,72,164,5.5,2.27,3.39,0.64,20.69,...,1,0,0,0,0,0,1,0,0,57.0
3,4.0,5.1,5.8,85,345,6.6,2.1,4.14,0.36,30.47,...,0,1,0,0,0,0,1,0,0,57.0
4,5.0,5.6,5.7,74,438,6.3,1.04,3.96,3.38,31.8,...,0,0,1,0,0,0,0,0,0,55.0
5,12.0,5.7,5.5,88,286,7.1,0.91,5.33,1.8,26.5,...,0,0,1,0,0,0,0,0,0,60.0
6,15.0,11.7,3.2,66,434,6.8,0.92,4.59,4.65,40.2,...,1,0,1,0,0,0,0,0,0,53.0
7,16.0,5.4,3.8,105,437,6,1.64,3.5,1.7,23.9,...,0,1,1,0,0,0,0,0,0,45.0
8,20.0,7.1,5.3,93,478,4,0.53,1.73,4.41,41.03,...,0,1,1,0,0,0,0,0,0,57.0
9,22.0,7.3,5.2,73,409,5.4,1.38,3.8,0.66,32.5,...,0,1,1,0,0,0,0,0,0,51.0
10,25.0,5.3,4,73,276,5.5,2.56,0.7,0.59,21.5,...,1,0,0,1,0,0,0,0,0,43.0

In [22]:
data.replace({"–Ω–µ—Ç" : 0, "–¥–∞" : 1, "–Ω–µ—Ç " : 0, "–¥–∞ " : 1, "–Ω–µ" : 0}, inplace = True)

In [23]:
data.head(1)

,Number,–ì–ª—é–∫–æ–∑–∞,–ú–æ—á–µ–≤–∏–Ω–∞,–ö—Ä–µ–∞—Ç–∏–Ω–∏–Ω,–ú–æ—á–µ–≤–∞—è –∫-—Ç–∞,–•–æ–ª–µ—Å—Ç–µ—Ä–∏–Ω,–•-–õ–ü–í–ü,–•-–õ–ü–ù–ü,–¢—Ä–∏–≥–ª–∏—Ü–µ—Ä–∏–¥—ã,–∏–Ω–¥–µ–∫—Å –º–∞—Å—Å—ã —Ç–µ–ª–∞,...,female,no_spec_gender,laborers,servants,leadership,scientific,engineering,no_job_data,retiree,age
1,2.0,6.2,5.9,110,443,6.2,1.07,4.25,2.37,20,...,0,0,1,0,0,0,0,0,0,63.0

In [24]:
data.columns

Index(['Number', '–ì–ª—é–∫–æ–∑–∞', '–ú–æ—á–µ–≤–∏–Ω–∞', '–ö—Ä–µ–∞—Ç–∏–Ω–∏–Ω', '–ú–æ—á–µ–≤–∞—è –∫-—Ç–∞',
       '–•–æ–ª–µ—Å—Ç–µ—Ä–∏–Ω', '–•-–õ–ü–í–ü', '–•-–õ–ü–ù–ü', '–¢—Ä–∏–≥–ª–∏—Ü–µ—Ä–∏–¥—ã', '–∏–Ω–¥–µ–∫—Å –º–∞—Å—Å—ã —Ç–µ–ª–∞',
       '–∫—É—Ä–∫\–µ–Ω–∏–µ', '–∏–∑–±—ã—Ç, –ü–æ—Ç—Ä, –ê–ª–∫–æ–≥–æ–ª—è', '–∏,–ø –ø–æ–≤–∞—Ä, –°–æ–ª–∏', '–≥–∏–ø–æ–¥–∏–Ω–∞–º–∏—è',
       '—Å—Ç—Ä–µ—Å—Å', '–ø—Ä–∏–µ–º –ø\—â –∫–æ–Ω—Ç—Ä–∞—Ü', '–Ω–∞—Å–ª –æ—Ç—è–≥, –ü–æ –ì–ë, ',
       '–Ω–∞—Å–ª –æ—Ç—è–≥, –ü–æ –°–°–ó', '–Ω–∞—Å–ª –æ—Ç—è–≥, –ü–æ –°–î', '–Ω–∞—Å–ª, –û—Ç—è–≥ –ø–æ –ø–æ—á–µ—á–Ω, –ó–∞–±',
       '–°–ê–î', '–î–ê–î', '–ì–õ–ñ –∏–Ω –°–æ–∫–æ–ª–æ–≤–∞-–õ–∞–π–æ–Ω–∞', 'S100b, –Ω–≥/–ª (N –¥–æ 90)',
       '–ê–Ω–≥ II, –ø–≥/–º–ª (N 10-60 –ø–≥/–º–ª)', '–≠–¢, –ø–º–æ–ª—å/–ª    (N =0,09)',
       'VEGF,  –ø–≥/–º–ª (N40-600)', 'HLDF (–Ω–≥/–º–ª', '–ê–¢ –∫ S100b', '–ê–¢ –∫ –ê–Ω–≥  II ',
       '–ê–¢ –∫ –≠–¢ ', '–ê–¢ –∫ HLDF- 24', 'Unnamed: 35', 'male', 'female',
       'no_spec_gender', 'laborers', 'servants', 'leadership', 'scientific',
       'engineering', 'no_job_data', 'retiree', 'age'],
      dtype='object')

In [25]:
data.rename(columns={'–∫—É—Ä–∫\–µ–Ω–∏–µ' : 'smoking', '–∏–∑–±—ã—Ç, –ü–æ—Ç—Ä, –ê–ª–∫–æ–≥–æ–ª—è' : 'Alcoholic'}, inplace=True)

In [26]:
data.columns

Index(['Number', '–ì–ª—é–∫–æ–∑–∞', '–ú–æ—á–µ–≤–∏–Ω–∞', '–ö—Ä–µ–∞—Ç–∏–Ω–∏–Ω', '–ú–æ—á–µ–≤–∞—è –∫-—Ç–∞',
       '–•–æ–ª–µ—Å—Ç–µ—Ä–∏–Ω', '–•-–õ–ü–í–ü', '–•-–õ–ü–ù–ü', '–¢—Ä–∏–≥–ª–∏—Ü–µ—Ä–∏–¥—ã', '–∏–Ω–¥–µ–∫—Å –º–∞—Å—Å—ã —Ç–µ–ª–∞',
       'smoking', 'Alcoholic', '–∏,–ø –ø–æ–≤–∞—Ä, –°–æ–ª–∏', '–≥–∏–ø–æ–¥–∏–Ω–∞–º–∏—è', '—Å—Ç—Ä–µ—Å—Å',
       '–ø—Ä–∏–µ–º –ø\—â –∫–æ–Ω—Ç—Ä–∞—Ü', '–Ω–∞—Å–ª –æ—Ç—è–≥, –ü–æ –ì–ë, ', '–Ω–∞—Å–ª –æ—Ç—è–≥, –ü–æ –°–°–ó',
       '–Ω–∞—Å–ª –æ—Ç—è–≥, –ü–æ –°–î', '–Ω–∞—Å–ª, –û—Ç—è–≥ –ø–æ –ø–æ—á–µ—á–Ω, –ó–∞–±', '–°–ê–î', '–î–ê–î',
       '–ì–õ–ñ –∏–Ω –°–æ–∫–æ–ª–æ–≤–∞-–õ–∞–π–æ–Ω–∞', 'S100b, –Ω–≥/–ª (N –¥–æ 90)',
       '–ê–Ω–≥ II, –ø–≥/–º–ª (N 10-60 –ø–≥/–º–ª)', '–≠–¢, –ø–º–æ–ª—å/–ª    (N =0,09)',
       'VEGF,  –ø–≥/–º–ª (N40-600)', 'HLDF (–Ω–≥/–º–ª', '–ê–¢ –∫ S100b', '–ê–¢ –∫ –ê–Ω–≥  II ',
       '–ê–¢ –∫ –≠–¢ ', '–ê–¢ –∫ HLDF- 24', 'Unnamed: 35', 'male', 'female',
       'no_spec_gender', 'laborers', 'servants', 'leadership', 'scientific',
       'engineering', 'no_job_data', 'retiree', 'age'],
      dtype='object')

In [27]:
data['smoking'].unique()

array([1, 0, '–Ω–µ—Ç –Ω–µ—Ç'], dtype=object)

In [28]:
data['smoking'].replace({'–Ω–µ—Ç –Ω–µ—Ç' : 0}, inplace = True)
data['smoking'].unique(), data['smoking'].dtype

(array([1, 0]), dtype('int64'))

In [29]:
data['Alcoholic'].unique()

array([0, '–Ω–µ—Ç –Ω–µ—Ç –Ω–µ—Ç –Ω–µ—Ç –Ω–µ—Ç ', 1, '–Ω–µ—Ç  –Ω–µ—Ç –Ω–µ—Ç'], dtype=object)

In [30]:
data['Alcoholic'].replace({'–Ω–µ—Ç –Ω–µ—Ç –Ω–µ—Ç –Ω–µ—Ç –Ω–µ—Ç ' : 0, "–Ω–µ—Ç  –Ω–µ—Ç –Ω–µ—Ç" : 0}, inplace = True)
data['Alcoholic'].unique(), data['Alcoholic'].dtype

(array([0, 1]), dtype('int64'))

In [31]:
data.rename(columns={'–∏,–ø –ø–æ–≤–∞—Ä, –°–æ–ª–∏' : 'excess_salt_intake'}, inplace = True)
data['excess_salt_intake'].unique()

array([0, 1])

In [32]:
data['–≥–∏–ø–æ–¥–∏–Ω–∞–º–∏—è'].unique()

array([0, 1, '–Ω–µ—Ç—Ç'], dtype=object)

In [33]:
data['–≥–∏–ø–æ–¥–∏–Ω–∞–º–∏—è'].replace({'–Ω–µ—Ç—Ç' : 0}, inplace = True)
data["–≥–∏–ø–æ–¥–∏–Ω–∞–º–∏—è"].unique(), data['–≥–∏–ø–æ–¥–∏–Ω–∞–º–∏—è'].dtype

(array([0, 1]), dtype('int64'))

In [34]:
data['—Å—Ç—Ä–µ—Å—Å'].unique()

array([0, 1])

In [35]:
data['–ø—Ä–∏–µ–º –ø\—â –∫–æ–Ω—Ç—Ä–∞—Ü'].unique()

array([0, 1])

In [36]:
data['–Ω–∞—Å–ª –æ—Ç—è–≥, –ü–æ –ì–ë, '].unique()

array([0, 1])

In [37]:
data['–Ω–∞—Å–ª –æ—Ç—è–≥, –ü–æ –°–°–ó'].unique()

array([0, 1])

In [38]:
data['–Ω–∞—Å–ª –æ—Ç—è–≥, –ü–æ –°–î'].unique()

array([0, 1])

In [39]:
data['–Ω–∞—Å–ª, –û—Ç—è–≥ –ø–æ –ø–æ—á–µ—á–Ω, –ó–∞–±'].unique()

array([0, 1])

In [40]:
data['–ì–õ–ñ –∏–Ω –°–æ–∫–æ–ª–æ–≤–∞-–õ–∞–π–æ–Ω–∞'].unique()

array([ 0., 22., 14., 18.,  1., nan, 24., 25., 27., 35., 30., 26., 28.,
       23., 29., 32., 38., 34., 37., 20., 11., 17., 39., 36., 33.])

In [41]:
data['–ì–õ–ñ –∏–Ω –°–æ–∫–æ–ª–æ–≤–∞-–õ–∞–π–æ–Ω–∞'] = data['–ì–õ–ñ –∏–Ω –°–æ–∫–æ–ª–æ–≤–∞-–õ–∞–π–æ–Ω–∞'].fillna(0)

In [42]:
data['–ì–ª—é–∫–æ–∑–∞'].unique()

array([6.2, 5.2, 5.1, 5.6, 5.7, 11.7, 5.4, 7.1, 7.3, 5.3, 5.9, 6.1, 6.7,
       4.9, 10.3, 6.6, 4.8, 6, 5, '—É–≤–æ–ª–∏–ª', 7.6, 4.3, 5.5, 6.9, 4.5, 5.8,
       14.8, 15.8, 6.4, 6.3, 8.5, 12.5], dtype=object)

In [43]:
sub_data = data['–ì–ª—é–∫–æ–∑–∞']

In [44]:
import numpy as np
sub_data.replace({'—É–≤–æ–ª–∏–ª' : np.NaN}, inplace = True)

In [45]:
sub_data.unique()

array([ 6.2,  5.2,  5.1,  5.6,  5.7, 11.7,  5.4,  7.1,  7.3,  5.3,  5.9,
        6.1,  6.7,  4.9, 10.3,  6.6,  4.8,  6. ,  5. ,  nan,  7.6,  4.3,
        5.5,  6.9,  4.5,  5.8, 14.8, 15.8,  6.4,  6.3,  8.5, 12.5])

In [46]:
sd_mean = sub_data.mean()

In [51]:
data['–ì–ª—é–∫–æ–∑–∞'].fillna(sd_mean, inplace = True)

In [52]:
data['–ì–ª—é–∫–æ–∑–∞'].unique()

array([ 6.2       ,  5.2       ,  5.1       ,  5.6       ,  5.7       ,
       11.7       ,  5.4       ,  7.1       ,  7.3       ,  5.3       ,
        5.9       ,  6.1       ,  6.7       ,  4.9       , 10.3       ,
        6.6       ,  4.8       ,  6.        ,  5.        ,  5.99210526,
        7.6       ,  4.3       ,  5.5       ,  6.9       ,  4.5       ,
        5.8       , 14.8       , 15.8       ,  6.4       ,  6.3       ,
        8.5       , 12.5       ])

In [70]:
data.head(5)

,Number,–ì–ª—é–∫–æ–∑–∞,–ú–æ—á–µ–≤–∏–Ω–∞,–ö—Ä–µ–∞—Ç–∏–Ω–∏–Ω,–ú–æ—á–µ–≤–∞—è –∫-—Ç–∞,–•–æ–ª–µ—Å—Ç–µ—Ä–∏–Ω,–•-–õ–ü–í–ü,–•-–õ–ü–ù–ü,–¢—Ä–∏–≥–ª–∏—Ü–µ—Ä–∏–¥—ã,–∏–Ω–¥–µ–∫—Å –º–∞—Å—Å—ã —Ç–µ–ª–∞,...,female,no_spec_gender,laborers,servants,leadership,scientific,engineering,no_job_data,retiree,age
1,2.0,6.2,5.9,110,443,6.2,1.07,4.25,2.37,20,...,0,0,1,0,0,0,0,0,0,63.0
2,3.0,5.2,5.0,72,164,5.5,2.27,3.39,0.64,20.69,...,1,0,0,0,0,0,1,0,0,57.0
3,4.0,5.1,5.8,85,345,6.6,2.10,4.14,0.36,30.47,...,0,1,0,0,0,0,1,0,0,57.0
4,5.0,5.6,5.7,74,438,6.3,1.04,3.96,3.38,31.8,...,0,0,1,0,0,0,0,0,0,55.0
5,12.0,5.7,5.5,88,286,7.1,0.91,5.33,1.80,26.5,...,0,0,1,0,0,0,0,0,0,60.0

In [53]:
data['Unnamed: 35'].unique()
# i'll drop it, have no idea how to use it

array([0, '–æ', '–ø'], dtype=object)

In [54]:
data.drop(columns={'Unnamed: 35'}, inplace=True)

In [55]:
data['S100b, –Ω–≥/–ª (N –¥–æ 90)'].unique()

array([nan, 65.48, 80.17, 91.13, 120.7, 109.9, 88.01, 30.16, 60.97, 126.5,
       127.9, 28.56, 44.22, 97.85, 60.57, 35.71, 46.01, 66.91, 106.5,
       68.05, 32.28, 70.79, 30.11, 46.03, 27.35,
       '–ò–ù–§–ê–†–ö–¢ –ú–û–ó–ì–ê –í 2018 –ì–û–î–£', 79.02, 81.96, 47.16, 97.64, 83.72,
       84.27, 43.62, 62.78, 116.6, 25.48, 92.44, 38.36, 36.72, 47.68, 545,
       37.35, 84.98, 81.57, 91.92, 69.45, 48.29, 90.84, 38.63, 62.43,
       98.91, 52.85, 34.72, 78.62, 27.49, 41.32, 42.42, 40.29],
      dtype=object)

–Ø –Ω–µ –ø–æ–Ω—è–ª, —á—Ç–æ –¥–µ–ª–∞—Ç—å —Å "–ò–ù–§–ê–†–ö–¢ –ú–û–ó–ì–ê, —è, –Ω–∞–≤–µ—Ä–Ω–æ–µ, –ø—Ä–æ—Å—Ç–æ –¥—Ä–æ–ø–Ω—É –µ–≥–æ

In [56]:
data['S100b, –Ω–≥/–ª (N –¥–æ 90)'].replace({'–ò–ù–§–ê–†–ö–¢ –ú–û–ó–ì–ê –í 2018 –ì–û–î–£' : np.NaN}, inplace = True)

In [58]:
data.dtypes
# I also have to check –ò–ú–¢

Number                           float64
–ì–ª—é–∫–æ–∑–∞                          float64
–ú–æ—á–µ–≤–∏–Ω–∞                         float64
–ö—Ä–µ–∞—Ç–∏–Ω–∏–Ω                          int64
–ú–æ—á–µ–≤–∞—è –∫-—Ç–∞                       int64
–•–æ–ª–µ—Å—Ç–µ—Ä–∏–Ω                       float64
–•-–õ–ü–í–ü                           float64
–•-–õ–ü–ù–ü                           float64
–¢—Ä–∏–≥–ª–∏—Ü–µ—Ä–∏–¥—ã                     float64
–∏–Ω–¥–µ–∫—Å –º–∞—Å—Å—ã —Ç–µ–ª–∞                 object
smoking                            int64
Alcoholic                          int64
excess_salt_intake                 int64
–≥–∏–ø–æ–¥–∏–Ω–∞–º–∏—è                        int64
—Å—Ç—Ä–µ—Å—Å                             int64
–ø—Ä–∏–µ–º –ø\—â –∫–æ–Ω—Ç—Ä–∞—Ü                  int64
–Ω–∞—Å–ª –æ—Ç—è–≥, –ü–æ –ì–ë,                  int64
–Ω–∞—Å–ª –æ—Ç—è–≥, –ü–æ –°–°–ó                  int64
–Ω–∞—Å–ª –æ—Ç—è–≥, –ü–æ –°–î                   int64
–Ω–∞—Å–ª, –û—Ç—è–≥ –ø–æ –ø–æ—á–µ—á–Ω, –ó–∞–±          int64
–°–ê–î                              float64
–î–ê–î                              float64
–ì–õ–ñ –∏–Ω –°–æ–∫–æ–ª–æ–≤–∞-–õ–∞–π–æ–Ω–∞           float64
S100b, –Ω–≥/–ª (N –¥–æ 90)            float64
–ê–Ω–≥ II, –ø–≥/–º–ª (N 10-60 –ø–≥/–º–ª)    float64
–≠–¢, –ø–º–æ–ª—å/–ª    (N =0,09)         float64
VEGF,  –ø–≥/–º–ª (N40-600)           float64
HLDF (–Ω–≥/–º–ª                      float64
–ê–¢ –∫ S100b                       float64
–ê–¢ –∫ –ê–Ω–≥  II                     float64
–ê–¢ –∫ –≠–¢                          float64
–ê–¢ –∫ HLDF- 24                    float64
male                               int64
female                             int64
no_spec_gender                     int64
laborers                           int64
servants                           int64
leadership                         int64
scientific                         int64
engineering                        int64
no_job_data                        int64
retiree                            int64
age                              float64
dtype: object

In [60]:
data['–∏–Ω–¥–µ–∫—Å –º–∞—Å—Å—ã —Ç–µ–ª–∞'].unique()
# I see objects which are added incorrectly

array([20, 20.69, 30.47, 31.8, 26.5, 40.2, 23.9, 41.03, 32.5, 21.5, 30.07,
       24.15, 29.32, 26.64, 25.47, 31.05, 21.01, 18.44, 19.89, 22.86,
       31.56, 25.5, 27.89, 29.4, 17.65, 29.05, 23.08, 45.3, 38.37, 23.12,
       25.46, 29.04, 24.68, 28.93, 27.14, 23.67, 29.31, 29.17, 27.44,
       26.22, 23.31, 27.66, 25.28, 23.44, '21, 08', 21.88, '26, 47', 24.8,
       18.78, 34.05, 20.28, 32, 48.33, 32.27, 21.64, 28.4, 27.87, 24.1,
       29.58, 33.08, 43.7, 28.08, 26.47, 22.84, 25.53, 23.14, 23.23, 22.3,
       40.16, 35.8, 26.85, 33.02, 23.05, 28.03, 28.41, 27.04, 38.74,
       28.34, 29.68, 24.6, 29.76, 27.68, 27.97, 27.12, 33.21, 39.92,
       25.16, 33.39, 31.23, '25, 04', 34.21, 49.08, 23.66, 24.16, 23.42,
       32.18, 25.84, 32.6, 26.9, 24.22, 22.34, 24.45, 27.24, 31.14, 22.03,
       36.06, 22.92, 24.54, 23.72, 29.07, 33.75, 19.14, 30.86, 27.09,
       25.03], dtype=object)

In [76]:
sub_data = data['–∏–Ω–¥–µ–∫—Å –º–∞—Å—Å—ã —Ç–µ–ª–∞']

In [89]:
for item in sub_data:
    if type(item) == str:
        item = item.replace(", ", "")
        item = float(item)
        
    if type(item) == int:
        item = float(item)
        
    print(type(item))

<class 'int'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'int'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>