In [ ]:
import pandas as pd

In [26]:
data = pd.read_excel("~/Desktop/data.xls",header = 3)

In [27]:
data.head(5)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Глюкоза,Мочевина,Креатинин,Мочевая к-та,Холестерин,Х-ЛПВП,...,"Анг II, пг/мл (N 10-60 пг/мл)","ЭТ, пмоль/л (N =0,09)","VEGF, пг/мл (N40-600)",HLDF (нг/мл,АТ к S100b,АТ к Анг II,АТ к ЭТ,АТ к HLDF- 24,Unnamed: 35,Unnamed: 36
0,NaN,NaN,NaN,NaN,мМ/Л,мМ/Л,мкМ/Л,мкМ/Л,мМ/Л,мМ/Л,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,Сл-сантехник,2.0,1956.0,6.2,5.9,110,443,6.2,1.07,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,2.0
2,3.0,инженер,1.0,1962.0,5.2,5,72,164,5.5,2.27,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,3.0
3,4.0,Инженер-технолог,-1000.0,1962.0,5.1,5.8,85,345,6.6,2.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,4.0
4,5.0,водитель,2.0,1964.0,5.6,5.7,74,438,6.3,1.04,...,0.38,0.07,458.4,NaN,1600.0,1600.0,400.0,50.0,0,5.0

In [28]:
data = data.drop(0)

In [32]:
data = data.rename(columns={"Unnamed: 0" : "Number", "Unnamed: 1" : "Profession"})

In [34]:
data = data.rename(columns={"Unnamed: 2" : "Gender", "Unnamed: 3" : "Birth_year"})

In [35]:
data.head(5)

,Number,Profession,Gender,Birth_year,Глюкоза,Мочевина,Креатинин,Мочевая к-та,Холестерин,Х-ЛПВП,...,"Анг II, пг/мл (N 10-60 пг/мл)","ЭТ, пмоль/л (N =0,09)","VEGF, пг/мл (N40-600)",HLDF (нг/мл,АТ к S100b,АТ к Анг II,АТ к ЭТ,АТ к HLDF- 24,Unnamed: 35,Unnamed: 36
1,2.0,Сл-сантехник,2.0,1956.0,6.2,5.9,110,443,6.2,1.07,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,2.0
2,3.0,инженер,1.0,1962.0,5.2,5,72,164,5.5,2.27,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,3.0
3,4.0,Инженер-технолог,-1000.0,1962.0,5.1,5.8,85,345,6.6,2.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,4.0
4,5.0,водитель,2.0,1964.0,5.6,5.7,74,438,6.3,1.04,...,0.38,0.07,458.40,NaN,1600.0,1600.0,400.0,50.0,0,5.0
5,12.0,слесарь,2.0,1959.0,5.7,5.5,88,286,7.1,0.91,...,0.00,0.32,70.91,120.0,400.0,400.0,600.0,100.0,0,12.0

In [37]:
data.columns

Index(['Number', 'Profession', 'Gender', 'Birth_year', 'Глюкоза', 'Мочевина',
       'Креатинин', 'Мочевая к-та', 'Холестерин', 'Х-ЛПВП', 'Х-ЛПНП',
       'Триглицериды', 'индекс массы тела', 'курк\ение',
       'избыт, Потр, Алкоголя', 'и,п повар, Соли', 'гиподинамия', 'стресс',
       'прием п\щ контрац', 'насл отяг, По ГБ, ', 'насл отяг, По ССЗ',
       'насл отяг, По СД', 'насл, Отяг по почечн, Заб', 'САД', 'ДАД',
       'ГЛЖ ин Соколова-Лайона', 'S100b, нг/л (N до 90)',
       'Анг II, пг/мл (N 10-60 пг/мл)', 'ЭТ, пмоль/л    (N =0,09)',
       'VEGF,  пг/мл (N40-600)', 'HLDF (нг/мл', 'АТ к S100b', 'АТ к Анг  II ',
       'АТ к ЭТ ', 'АТ к HLDF- 24', 'Unnamed: 35', 'Unnamed: 36'],
      dtype='object')

In [41]:
data["Unnamed: 35"].unique()
# this column means... kinda nothing, imho

array([0, 'о', 'п'], dtype=object)

In [44]:
(data["Unnamed: 36"] - data["Number"]).unique()
# the last column copies "Number" one, so i'd remove it as redundant

array([0.])

In [46]:
data = data.drop(columns={"Unnamed: 36"})

In [47]:
data.head(5)

,Number,Profession,Gender,Birth_year,Глюкоза,Мочевина,Креатинин,Мочевая к-та,Холестерин,Х-ЛПВП,...,"S100b, нг/л (N до 90)","Анг II, пг/мл (N 10-60 пг/мл)","ЭТ, пмоль/л (N =0,09)","VEGF, пг/мл (N40-600)",HLDF (нг/мл,АТ к S100b,АТ к Анг II,АТ к ЭТ,АТ к HLDF- 24,Unnamed: 35
1,2.0,Сл-сантехник,2.0,1956.0,6.2,5.9,110,443,6.2,1.07,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,3.0,инженер,1.0,1962.0,5.2,5,72,164,5.5,2.27,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,4.0,Инженер-технолог,-1000.0,1962.0,5.1,5.8,85,345,6.6,2.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,5.0,водитель,2.0,1964.0,5.6,5.7,74,438,6.3,1.04,...,65.48,0.38,0.07,458.40,NaN,1600.0,1600.0,400.0,50.0,0
5,12.0,слесарь,2.0,1959.0,5.7,5.5,88,286,7.1,0.91,...,80.17,0.00,0.32,70.91,120.0,400.0,400.0,600.0,100.0,0

In [49]:
data["Gender"].unique()
# okay, gender is 1 = female, 2 = male, -1000 - unknown

array([    2.,     1., -1000.])

In [57]:
data["male"] = (data["Gender"] == 2).astype(int)
data["female"] = (data["Gender"] == 1).astype(int)
data["no_spec_gender"] = (data["Gender"] == -1000).astype(int)
data = data.drop(columns={"Gender"})

In [58]:
data.head(5)

,Number,Profession,Birth_year,Глюкоза,Мочевина,Креатинин,Мочевая к-та,Холестерин,Х-ЛПВП,Х-ЛПНП,...,"VEGF, пг/мл (N40-600)",HLDF (нг/мл,АТ к S100b,АТ к Анг II,АТ к ЭТ,АТ к HLDF- 24,Unnamed: 35,male,female,no_spec_gender
1,2.0,Сл-сантехник,1956.0,6.2,5.9,110,443,6.2,1.07,4.25,...,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0,0
2,3.0,инженер,1962.0,5.2,5,72,164,5.5,2.27,3.39,...,NaN,NaN,NaN,NaN,NaN,NaN,0,0,1,0
3,4.0,Инженер-технолог,1962.0,5.1,5.8,85,345,6.6,2.1,4.14,...,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,1
4,5.0,водитель,1964.0,5.6,5.7,74,438,6.3,1.04,3.96,...,458.40,NaN,1600.0,1600.0,400.0,50.0,0,1,0,0
5,12.0,слесарь,1959.0,5.7,5.5,88,286,7.1,0.91,5.33,...,70.91,120.0,400.0,400.0,600.0,100.0,0,1,0,0

In [59]:
data["Profession"].unique()
# I'd have to fix some issues with data

array(['Сл-сантехник', 'инженер ', 'Инженер-технолог', 'водитель',
       'слесарь ', 'изолировщица', 'аппаратчик', 'тракторист',
       'горничная', 'плавильщик', 'инженер', 'токарь ', 'внс',
       'экономист ', 'нач группы ', 'нач сектора', 'гл инженер ',
       'контролер КПП', 'нач-к ПРБ', 'УВОЛЕНА', 'диспетчер',
       'оператор                    1962', 'вед,специалист',
       'пригот-ль р-ров', 'ПЕНСИОНЕР', 'монтажник РЭА', 'техник',
       'сборщик м-схем', 'наладчик', 'измеритель', 'машинист',
       'инженер-прогр,', 'нач-к тех,бюро', 'нач-к группы',
       'старший мастер', 'гальваник', nan, 'мастер отд работ1969',
       'науч. сотр', 'эл. сварщик', 'фрезеровщик', 'изолировщик ',
       'эл,сварщик', 'электромонтажник', 'дежурная', 'нач-к бюро ',
       'нач-к сектора', 'маляр', 'маляр-штукатур', 'УВОЛЕН', 'мастер ',
       'прессовщик', 'зам, нач-ка отд,', 'инженр', 'секретарь ',
       'электрик'], dtype=object)

In [124]:
data["Profession"].replace({"инженер " : "инженер", "инженр" : "инженер", "мастер " : "мастер"}, inplace=True)
data["Profession"].fillna("no_info", inplace=True)
data.set_value(63, 'Profession', 'мастер отд работ')

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  This is separate from the ipykernel package so we can avoid doing imports until

,Number,Profession,Birth_year,Глюкоза,Мочевина,Креатинин,Мочевая к-та,Холестерин,Х-ЛПВП,Х-ЛПНП,...,HLDF (нг/мл,АТ к S100b,АТ к Анг II,АТ к ЭТ,АТ к HLDF- 24,Unnamed: 35,male,female,no_spec_gender,Age
1,2.0,Сл-сантехник,1956.0,6.2,5.9,110,443,6.2,1.07,4.25,...,NaN,NaN,NaN,NaN,NaN,0,1,0,0,61.0
2,3.0,инженер,1962.0,5.2,5,72,164,5.5,2.27,3.39,...,NaN,NaN,NaN,NaN,NaN,0,0,1,0,55.0
3,4.0,Инженер-технолог,1962.0,5.1,5.8,85,345,6.6,2.1,4.14,...,NaN,NaN,NaN,NaN,NaN,0,0,0,1,55.0
4,5.0,водитель,1964.0,5.6,5.7,74,438,6.3,1.04,3.96,...,NaN,1600.0,1600.0,400.0,50.0,0,1,0,0,53.0
5,12.0,слесарь,1959.0,5.7,5.5,88,286,7.1,0.91,5.33,...,120.0,400.0,400.0,600.0,100.0,0,1,0,0,58.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113,134.0,инженер,1989.0,5.3,6.5,73,366,4.9,1.73,3.14,...,55.0,400.0,400.0,400.0,100.0,п,1,0,0,28.0
114,137.0,электромонтажник,1980.0,5.4,6.4,92,420,6.2,1.79,3.79,...,NaN,NaN,NaN,NaN,NaN,п,1,0,0,37.0
115,140.0,секретарь,1971.0,5.5,4.2,67,380,4.7,1.35,3.15,...,NaN,NaN,NaN,NaN,NaN,п,0,1,0,46.0
116,141.0,электрик,1977.0,5.5,4.1,90,321,4.7,0.8,2.07,...,NaN,NaN,NaN,NaN,NaN,п,1,0,0,40.0
117,146.0,водитель,1971.0,5.4,5.8,95,445,3.7,0.86,2.2,...,NaN,NaN,NaN,NaN,NaN,п,1,0,0,46.0

In [75]:
data["Profession"].unique()

array(['Сл-сантехник', 'инженер', 'Инженер-технолог', 'водитель',
       'слесарь ', 'изолировщица', 'аппаратчик', 'тракторист',
       'горничная', 'плавильщик', 'токарь ', 'внс', 'экономист ',
       'нач группы ', 'нач сектора', 'гл инженер ', 'контролер КПП',
       'нач-к ПРБ', 'УВОЛЕНА', 'диспетчер',
       'оператор                    1962', 'вед,специалист',
       'пригот-ль р-ров', 'ПЕНСИОНЕР', 'монтажник РЭА', 'техник',
       'сборщик м-схем', 'наладчик', 'измеритель', 'машинист',
       'инженер-прогр,', 'нач-к тех,бюро', 'нач-к группы',
       'старший мастер', 'гальваник', 'no_info', 'мастер отд работ1969',
       'науч. сотр', 'эл. сварщик', 'фрезеровщик', 'изолировщик ',
       'эл,сварщик', 'электромонтажник', 'дежурная', 'нач-к бюро ',
       'нач-к сектора', 'маляр', 'маляр-штукатур', 'УВОЛЕН', 'мастер',
       'прессовщик', 'зам, нач-ка отд,', 'секретарь ', 'электрик'],
      dtype=object)

#i'll try to group jobs in certain specified types
Пусть внс - ведущий научный сотрудник
1) Работа руками: Сл-сантехник, слесарь, аппаратчик, токарь,👷,  приготовитель растворов, монтажник РЭА, эл. сварщик, фрезеровщик, изолировщик, эл,сварщик, электромонтажник, маляр, маляр-штукатур, прессовщик, электрик, водитель, изолировщица, аппаратчик, тракторист, плавильщик, техник, сборщик м-схем, машинист, гальваник, мастер отд работ1969, изолировщик, прессовщик
2) Прислуга: горничная, контролер КПП, дежурная, секретарь, диспетче
4) Мелкое руководство: нач группы, нач сектора, гл. инженер, нач. ПРБ, нач-к тех,бюро, нач-к группы, старший мастер, нач-к бюро, нач-к сектора, мастер, зам, нач-ка отд, , 
5) Научные специальности: внс, вед,специалист, науч. сотр, нач-к бюро, нач-к тех,бюро, экономист
6) Инженерные специальности: инженер, инженер-технолог, гл. инженер, наладчик, измеритель, инженер-прогр, нач-к тех,бюро
7) Данных нет: no_info, УВОЛЕН, УВОЛЕНА
8) Пенсионер

In [147]:
#laborers - ручная работа
#servants - обсл. состав
#leadership - управление
#scientific - научные специальности, работа мозгом
#engineering - инж. специальности
#no_data - без инфы
#retiree - пенсионер
data['laborers'] = data['Profession'] == 'Сл-сантехник' 
data['laborers'] |=                    data['Profession'] == 'водитель' 
data['laborers'] |=                    data['Profession'] == 'слесарь ' 
data['laborers'] |=                    data['Profession'] == 'изолировщица' 
data['laborers'] |=                    data['Profession'] == 'аппаратчик' 
data['laborers'] |=                    data['Profession'] == 'тракторист' 
data['laborers'] |=                    data['Profession'] == 'плавильщик' 
data['laborers'] |=                    data['Profession'] == 'токарь ' 
data['laborers'] |=                    data['Profession'] == 'оператор                    1962' 
data['laborers'] |=                    data['Profession'] == 'пригот-ль р-ров' 
data['laborers'] |=                    data['Profession'] == 'монтажник РЭА' 
data['laborers'] |=                    data['Profession'] == 'техник' 
data['laborers'] |=                    data['Profession'] == 'сборщик м-схем'  
data['laborers'] |=                    data['Profession'] == 'машинист' 
data['laborers'] |=                    data['Profession'] == 'старший мастер' 
data['laborers'] |=                    data['Profession'] == 'гальваник' 
data['laborers'] |=                    data['Profession'] == 'мастер отд работ1969' 
data['laborers'] |=                    data['Profession'] == 'эл. сварщик' 
data['laborers'] |=                    data['Profession'] == 'фрезеровщик' 
data['laborers'] |=                    data['Profession'] == 'изолировщик ' 
data['laborers'] |=                    data['Profession'] == 'эл,сварщик' 
data['laborers'] |=                    data['Profession'] == 'электромонтажник' 
data['laborers'] |=                    data['Profession'] == 'маляр' 
data['laborers'] |=                    data['Profession'] == 'маляр-штукатур' 
data['laborers'] |=                    data['Profession'] == 'мастер' 
data['laborers'] |=                    data['Profession'] == 'прессовщик'
data['laborers'] |=                    data['Profession'] == 'электрик'

data['servants'] = data['Profession'] == 'горничная' 
data['servants'] |=                    data['Profession'] == 'контролер КПП' 
data['servants'] |=                    data['Profession'] == 'диспетчер' 
data['servants'] |=                    data['Profession'] == 'дежурная' 
data['servants'] |=                    data['Profession'] == 'секретарь '

data['leadership'] = data['Profession'] == 'нач группы ' 
data['leadership'] |=                     data['Profession'] == 'нач сектора' 
data['leadership'] |=                       data['Profession'] == 'гл инженер ' 
data['leadership'] |=                      data['Profession'] == 'нач-к ПРБ' 
data['leadership'] |=                      data['Profession'] == 'нач-к тех,бюро' 
data['leadership'] |=                      data['Profession'] == 'нач-к группы' 
data['leadership'] |=                      data['Profession'] == 'старший мастер' 
data['leadership'] |=                      data['Profession'] == 'нач-к бюро ' 
data['leadership'] |=                      data['Profession'] == 'нач-к сектора' 
data['leadership'] |=                      data['Profession'] == 'мастер'
data['leadership'] |=                     data['Profession'] == 'зам, нач-ка отд,'

data['scientific'] = data['Profession'] == 'внс' 
data['scientific'] |=                      data['Profession'] == 'вед,специалист'
data['scientific'] |=                      data['Profession'] == 'науч. сотр'
data['scientific'] |=                      data['Profession'] == 'нач-к тех,бюро'
data['scientific'] |=                      data['Profession'] == 'нач-к бюро '
data['scientific'] |=                      data['Profession'] == 'экономист '

data['engineering'] = data['Profession'] == 'инженер'
data['engineering'] |= data['Profession'] == 'Инженер-технолог' 
data['engineering'] |= data['Profession'] == 'гл инженер '
data['engineering'] |= data['Profession'] == 'наладчик' 
data['engineering'] |= data['Profession'] == 'измеритель' 
data['engineering'] |= data['Profession'] == 'инженер-прогр,'
data['engineering'] |= data['Profession'] == 'нач-к тех,бюро'

data['no_job_data'] = data['Profession'] == 'no_info'
data['no_job_data'] |= data['Profession'] == 'УВОЛЕНА'
data['no_job_data'] |= data['Profession'] == 'УВОЛЕН'

data['retiree'] = data['Profession'] == 'ПЕНСИОНЕР'

In [148]:
data['laborers'] = data['laborers'].astype(int)
data['servants'] = data['servants'].astype(int)
data['leadership'] = data['leadership'].astype(int)
data['scientific'] = data['scientific'].astype(int)
data['engineering'] = data['engineering'].astype(int)
data['no_job_data'] = data['no_job_data'].astype(int)
data['retiree'] = data['retiree'].astype(int)

In [88]:
data[data["Profession"].str.contains("1962")]
# ?????

,Number,Profession,Birth_year,Глюкоза,Мочевина,Креатинин,Мочевая к-та,Холестерин,Х-ЛПВП,Х-ЛПНП,...,"VEGF, пг/мл (N40-600)",HLDF (нг/мл,АТ к S100b,АТ к Анг II,АТ к ЭТ,АТ к HLDF- 24,Unnamed: 35,male,female,no_spec_gender
29,57.0,оператор 1962,1979.0,7.6,4,68,387,4.1,0.68,2.97,...,NaN,NaN,NaN,NaN,NaN,NaN,0,0,1,0
32,65.0,оператор 1962,1965.0,6,5,63,194,5.9,1.58,3.52,...,108.3,132.0,100.0,100.0,100.0,50.0,0,0,1,0
61,64.0,оператор 1962,1973.0,5.4,6.3,57,174,4.7,1.59,2.9,...,242.5,97.0,800.0,200.0,300.0,200.0,о,0,1,0
79,54.0,оператор 1962,1968.0,5.2,6,74,326,9.2,1.59,7.1,...,399.1,56.0,100.0,100.0,200.0,100.0,п,0,1,0
85,77.0,оператор 1962,1976.0,5.6,3.7,68,331,6.1,1.4,4.42,...,527.3,77.0,400.0,200.0,300.0,200.0,п,0,1,0
89,85.0,оператор 1962,1963.0,5.3,6.5,48,333,7.9,1.83,5.33,...,NaN,NaN,NaN,NaN,NaN,NaN,п,0,1,0
91,92.0,оператор 1962,1972.0,6.7,5.5,80,241,5.5,1.66,3.3,...,853.1,50.0,100.0,400.0,150.0,100.0,п,0,0,1

In [96]:
data[data["Profession"].str.contains("1969")]

,Number,Profession,Birth_year,Глюкоза,Мочевина,Креатинин,Мочевая к-та,Холестерин,Х-ЛПВП,Х-ЛПНП,...,"VEGF, пг/мл (N40-600)",HLDF (нг/мл,АТ к S100b,АТ к Анг II,АТ к ЭТ,АТ к HLDF- 24,Unnamed: 35,male,female,no_spec_gender
63,135.0,мастер отд работ1969,1969.0,6,6.5,102,403,4.8,0.84,3.23,...,440.5,130.0,200.0,100.0,100.0,50.0,о,1,0,0

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  """Entry point for launching an IPython kernel.

,Number,Profession,Birth_year,Глюкоза,Мочевина,Креатинин,Мочевая к-та,Холестерин,Х-ЛПВП,Х-ЛПНП,...,"VEGF, пг/мл (N40-600)",HLDF (нг/мл,АТ к S100b,АТ к Анг II,АТ к ЭТ,АТ к HLDF- 24,Unnamed: 35,male,female,no_spec_gender
1,2.0,Сл-сантехник,1956.0,6.2,5.9,110,443,6.2,1.07,4.25,...,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0,0
2,3.0,инженер,1962.0,5.2,5,72,164,5.5,2.27,3.39,...,NaN,NaN,NaN,NaN,NaN,NaN,0,0,1,0
3,4.0,Инженер-технолог,1962.0,5.1,5.8,85,345,6.6,2.1,4.14,...,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,1
4,5.0,водитель,1964.0,5.6,5.7,74,438,6.3,1.04,3.96,...,458.40,NaN,1600.0,1600.0,400.0,50.0,0,1,0,0
5,12.0,слесарь,1959.0,5.7,5.5,88,286,7.1,0.91,5.33,...,70.91,120.0,400.0,400.0,600.0,100.0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113,134.0,инженер,1989.0,5.3,6.5,73,366,4.9,1.73,3.14,...,351.00,55.0,400.0,400.0,400.0,100.0,п,1,0,0
114,137.0,электромонтажник,1980.0,5.4,6.4,92,420,6.2,1.79,3.79,...,NaN,NaN,NaN,NaN,NaN,NaN,п,1,0,0
115,140.0,секретарь,1971.0,5.5,4.2,67,380,4.7,1.35,3.15,...,NaN,NaN,NaN,NaN,NaN,NaN,п,0,1,0
116,141.0,электрик,1977.0,5.5,4.1,90,321,4.7,0.8,2.07,...,NaN,NaN,NaN,NaN,NaN,NaN,п,1,0,0
117,146.0,водитель,1971.0,5.4,5.8,95,445,3.7,0.86,2.2,...,NaN,NaN,NaN,NaN,NaN,NaN,п,1,0,0

In [120]:
data["S100b, нг/л (N до 90)"].unique()

array([nan, 65.48, 80.17, 91.13, 120.7, 109.9, 88.01, 30.16, 60.97, 126.5,
       127.9, 28.56, 44.22, 97.85, 60.57, 35.71, 46.01, 66.91, 106.5,
       68.05, 32.28, 70.79, 30.11, 46.03, 27.35,
       'ИНФАРКТ МОЗГА В 2018 ГОДУ', 79.02, 81.96, 47.16, 97.64, 83.72,
       84.27, 43.62, 62.78, 116.6, 25.48, 92.44, 38.36, 36.72, 47.68, 545,
       37.35, 84.98, 81.57, 91.92, 69.45, 48.29, 90.84, 38.63, 62.43,
       98.91, 52.85, 34.72, 78.62, 27.49, 41.32, 42.42, 40.29],
      dtype=object)

In [123]:
data["Age"] = 2017 - data["Birth_year"]